#conteneur_nav
    div.element1
        a(href="/treks") Maps
    div.element2
        a(href="/users") Profil
    div.element3
        a(href="/") Home
    div.element4
        a(href="/login") Login
    div.element5
<<<<<<< HEAD
<<<<<<< HEAD
        a(href="/sign_up") Inscription
=======
        a(href="/signup") Inscription
>>>>>>> master
=======
        a(href="/signup") Inscription
>>>>>>> master
