extends layout

block content
  .conteneur_bandeau
    #background
      .intro
          h1 Pouet-Pouet
          p Welcome to #{title}
  .description
    h2 Description du Projet
    br
    p Projet fil rouge de la formation Concepteur Développeur Informatique
    p du centre AFPA de st Jean de Vedas.
    p Site WEB en lien avec une application mobile
    p qui permet d'enregistrer, de charger et de partager
    p des parcours de randonnées.
    

  
  
    