doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/src/style.css')
    link(rel='stylesheet', href='/src/layout.css')
    link(rel='stylesheet', href='/src/CSS/home/web/home_web.css', type='text/css')
    link(rel='stylesheet', href='/src/CSS/home/mobile/home_mobile.css', type='text/css')
    link(rel='stylesheet', href='/src/font-awesome-4.7.0/css/font-awesome.min.css')

  body
    
    include /core/views/header
    
    block content

      


    include /core/views/footer