doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/src/style.css')
    link(rel='stylesheet', href='/src/layout.css')
    //- link(rel='stylesheet', href='/src/CSS/users/user_web.css')
    link(rel='stylesheet', href='/src/font-awesome-4.7.0/css/font-awesome.min.css')

  body
   
    include /core/views/header
    
    block content

      


    include /core/views/footer