doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/src/map.css')
    link(rel='stylesheet', href='/src/style.css')
    link(rel='stylesheet', href='/src/header.css')
    link(rel='stylesheet', href='/src/font-awesome-4.7.0/css/font-awesome.min.css')

  body
   
    include header
    
    block content    

    include footer

