extends layout

block content
  .Bandeau
  section.small-12.medium-12.large-12.columns
    img(src='src/images/Bandeau.png', style='margin-bottom: 5px')
    section.section
      .top-border
      .row
        .small-12.medium-12.large-12.small-centered.columns
        nav#nav
          div
            ul.inline-list-custom
              li
                a.current(href='/users') Profil
              li
                a(href='/photos') Galerie Photos
              li
                a(href='/PoI') Galerie Points d'intêret

    #conteneur_profil
      .test
          h3 Profil

          #conteneur_profil
            div
              img.user(src='src/images/user_logo.png', alt='user_logo')
            div  
              .field
                label Nom :
                input#nom(type='text', name='nom', value='#{user.lastname}')

              .field
                label Prénom :
                input#prenom(type='text', name='prenom', value='#{user.firstname}')

              .field
                label Pseudo :
                input#pseudo(type='text', name='pseudo', value='#{user.username}')

              .field
                label Mail :
                input#mail(type='text', name='mail', value='#{user.mail}')

              button#btnAdd(onclick='addUser()') AJOUTER
              button#btnEdit(onclick='updateUser()') MODIFIER
              button#btnDelete(onclick='delUser()') SUPPRIMER


  script(src="/src/ajax.js")
  script(src="/src/loadUsers.js")
