doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/src/style.css')
    link(rel='stylesheet', href='/src/layout.css')
    link(rel='stylesheet', href='/src/font-awesome-4.7.0/css/font-awesome.min.css')

    link(rel='stylesheet', href='/src/leaflet/leaflet.css')
    link(rel='stylesheet', href='/src/leaflet/leaflet.draw.css')
    link(rel='stylesheet', href='/src/leaflet/L.Control.Zoominfo.css')
    link(rel='stylesheet', href='/src/CSS/treks/loader.css')




  body
   
    include /core/views/header
    
    block content

    include /core/views/footer