#conteneur {
    z-index: 1;
    height: 3em;
    background-color: #333d41;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.element1,
.element2,
.element3,
.element4,
.element5 {
    z-index: 2;
    background-color: #333d41;
    text-align: center;
    width: 10em;
    padding: 1em;
    color: white;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.element1 a {
    color: white;
}

.element5 a {
    color: white;
}

.element1:hover {
    background-color: rgb(118, 218, 151);
}

.element2:hover {
    background-color: rgb(224, 243, 138);
}

.element3:hover,
.element4:hover {
    background-color: rgb(163, 213, 228);
}

.element5:hover {
    background-color: rgb(250, 3, 3);
}