#map {
    height: 400px;
    width: 300px;
}

p {
    font-size: 30;
}

#mesboutons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mylocation {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 10%);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #1f628d;
    font-size: 30px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

.mylocation:hover {
    background: #1f628d;
    text-decoration: none;
    color: #ffffff;
    border: none;
}