extends /core/views/layout

block content
  h1 GpsPoints

  .field
    label GpsPoint :
    textarea#gpsPoint(name='gpsPoint')

  button#btnAdd(onclick='addGpsPoint()') SUBMIT

  h3 Commentaires

  table#idTableau(style='width:100%')

  script(src="/src/ajax.js")
  script(src="/src/loadGpsPoints.js")
