@media (min-width: 1025px) {
#background{
    top: 0%;
    height: 100%;
    left: 0%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('/src/images/home_page.jpeg');
}

.intro{
    position: absolute;
    z-index: 0;
    margin-left: 3%;
}

} /* Fin de "l'objet" css pour ordinateur */