extends layout


block content
  h1#trek Detail Trek    
  head
      title 
      .Bandeau
      section.small-12.medium-12.large-12.columns
          img(src='src/images/Bandeau.png', style='margin-bottom: 5px')
          section.section
            .top-border
            .row
                .small-12.medium-12.large-12.small-centered.columns
                nav#nav
                  div
                    ul.inline-list-custom
                      li
                        a(href='/profil') Profil
                      li
                        a(href='/galerie') Galerie Photos
                      li
                        a(href='/PoI') Galerie Points d'intêret
            div#containerMessageToUser
              p#messageToUser
  body
    .top-border
    .row
      .small-12.medium-12.large-12.small-centered.columns
        header
          h1 Infos Trek
          h2 "nom du trek"
      .small-12.medium-12.large-12.small-centered.columns
    .row
      .small-12.medium-7.large-7.columns
        h2 Titre
        p Descriptif
        #container_details
            table#idListInfo(style='width:100%')

      .small-12.medium-5.large-5.columns
        .zoom
          .image
            p
              img(src='src/images/about-photo.png')
    .row
        #buttons
            .update  
              button#updateTrek(onclick='updateTrek()') Modifier Trek
            .delete
              button#deletTrek(onclick='deleteTrek()') Supprimer Trek               
            .saveupdate
              button#saveUpdate(onclick='saveupdate()') Sauvegarder modificattion
            .cancelupdate
              button#cancel(onclick='cancelupdate()') annuler modificattion
      .small-12.medium-12.large-12.columns
        hr.project-detail-hr
        #container
          .project-img
            img(src='src/images/project-01a.png', alt='Project 01a')
            h6 Trek 01

          .project-img
            img(src='src/images/project-01b.png', alt='Project 01b')
            h6 Trek 02

          .project-img
            img(src='src/images/project-01c.png', alt='Project 01c')
            h6 Trek 03

          .project-img
            img(src='src/images/project-01a.png', alt='Project 01a')
            h6 Trek 04

          .project-img
            img(src='src/images/project-01b.png', alt='Project 01b')
            h6 Trek 05

          .project-img
            img(src='src/images/project-01c.png', alt='Project 01c')
            h6 Trek 06

      body
        .row
          .small-12.medium-12.large-12.columns
            p.back-to-top-holder
              a.back-to-top
                a(href='#')
                    i.fa.fa-chevron-circle-up.fa-3x

    script(src="src/ajax.js")
    script(src="src/loadShowTrek.js")
    //- script(src='js/vendor/jquery.min.js')
    //- script(src='js/foundation.min.js')
    //- script(src='js/hawthorne.js')
