@media (max-width: 1024px) {

.cont1{
    position: relative;
    height: 386px;
    width: 100%;
    z-index: 1;
}

#background{
    position: absolute;
    height: 386px;
    left: 0%;
    width: 100%;
    background: url('/src/images/home_page_mobile.jpeg') no-repeat;
}

.intro{
    position: relative;
    margin-top: 8%;
    margin-right: 8%;
    z-index: 0;
    float: right;
}

.intro h1,
.intro p
{
    font-family: 'Comic Sans MS', cursive;
}
.description h2{
    margin-top: 10%;
    text-align: center;
}

.intro p{
    font-size: 25px;
}

.element1 a,
.element2 a,
.element3 a,
.element4 a,
.element5 a{
    line-height: 48px;
    font-size: 25px;
    text-align: center;
}

.description p{
    text-align: center;
}

} /* Fin de "l'objet" css pour mobile */