@media (max-width: 1024px) {

body{
    height: 100vh;
}

.conteneur_bandeau{
    position: relative;
    height: 386px;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 10px 20px black;
}

#background{
    position: absolute;
    height: 386px;
    left: 0%;
    width: 100%;
    background: url('/src/images/home_page_mobile.jpeg') no-repeat;
}

.intro{
    position: relative;
    margin-top: 8%;
    margin-right: 8%;
    z-index: 0;
    float: right;
}

.intro h1,
.intro p
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description h2{
    margin-top: 10%;
    text-align: center;
}

.intro p{
    font-size: 25px;
}

.intro h1{
    font-style: italic;
}

.element1 a,
.element2 a,
.element3 a,
.element4 a,
.element5 a{
    line-height: 48px;
    font-size: 25px;
    text-align: center;
}

.description p{
    text-align: center;
}

footer {
    margin-top: 100px;
    position: absolute;
    height: 85.53px;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

} /* Fin de "l'objet" css pour mobile */

@media (max-width: 1024px) and (orientation: landscape){

body{
    height: 100%;
}

footer {
    margin-top: 100px;
    position: relative;
    height: 85.53px;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

}