extends /core/views/layout

block content
  h1 Treks

  .field
    label Trek :
    textarea#trek(name='trek')

  button#btnAdd(onclick='addTrek()') SUBMIT

  h3 Commentaires

  table#idTableau(style='width:100%')

  script(src="/src/ajax.js")
  script(src="/src/loadTreks.js")
