extends layout


block content
  head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title Hawthorne — Selected Work
      meta(name='description', content='Page description goes here')
      link(href='stylesheets/font-awesome.min.css', rel='stylesheet')
      script(src='routes/modernizr.js')
      .Bandeau
      section.small-12.medium-12.large-12.columns
          img(src='images/projects/Bandeau.png', style='margin-bottom: 5px')
          section.section
            .top-border
            .row
                .small-12.medium-12.large-12.small-centered.columns
                nav
                    div
                        ul.inline-list-custom
                            li
                                a.current(href='/profil') Profil
                            li
                                a(href='/galerie') Galerie Photos
                            li
                                a(href='/PoI') Galerie Points d'intêret
          #conteneur_profil
            .test
              h1 Bonjour
              h2 Sabrina            
            .test2
              .row
                .small-12.medium-12.large-12.columns
                  ul.small-block-grid-1.medium-block-grid-3.large-block-grid-3.inline-list-custom
                      li
                        .thumbnail
                          .thumbnail-img
                            .thumbnail-hover
                              a(href='Detail.html')
                            a(href='Detail.html')
                              img(src='images/projects/sunset-2459855_1920.jpg', alt='Project 01')
                          .thumbnail-caption
                            a.caption-link(href='Detail.html') "Nom du Trek"

                      li
                        .thumbnail
                          .thumbnail-img
                            .thumbnail-hover
                              a(href='Detail.html')
                            a(href='Detail.html')
                              img(src='images/projects/beach-2179624_1920.jpg', alt='Project 02')
                          .thumbnail-caption
                            a.caption-link(href='Detail.html') Project 02

                      li
                        .thumbnail
                          .thumbnail-img
                            .thumbnail-hover
                              a(href='Detail.html')
                            a(href='Detail.html')
                              img(src='images/projects/himalayas-2301040_1920.jpg', alt='Project 03')
                          .thumbnail-caption
                            a.caption-link(href='Detail.html') Project 03

                      li
                        .thumbnail
                          .thumbnail-img
                            .thumbnail-hover
                              a(href='Detail.html')
                            a(href='Detail.html')
                              img(src='images/projects/iceland-2700427_1920.jpg', alt='Project 04')
                          .thumbnail-caption
                            a.caption-link(href='Detail.html') Project 04

                      li
                        .thumbnail
                          .thumbnail-img
                            .thumbnail-hover
                              a(href='Detail.html')
                            a(href='Detail.html')
                              img(src='images/projects/banner-1090835_1920.jpg', alt='Project 05')
                          .thumbnail-caption
                            a.caption-link(href='Detail.html') Project 05

                      li
                        .thumbnail
                          .thumbnail-img
                            .thumbnail-hover
                              a(href='Detail.html')
                            a(href='Detail.html')
                              img(src='images/projects/lighthouse-2225445_1920.jpg', alt='Project 06')
                          .thumbnail-caption
                            a.caption-link(href='Detail.html') Project 06
                      li
                        .thumbnail
                          .thumbnail-img
                            .thumbnail-hover
                              a(href='Detail.html')
                            a(href='Detail.html')
                              img(src='images/projects/sunset-2459855_1920.jpg', alt='Project 01')
                          .thumbnail-caption
                            a.caption-link(href='Detail.html') "Nom du Trek"

                      li
                        .thumbnail
                          .thumbnail-img
                            .thumbnail-hover
                              a(href='Detail.html')
                            a(href='Detail.html')
                              img(src='images/projects/beach-2179624_1920.jpg', alt='Project 02')
                          .thumbnail-caption
                            a.caption-link(href='Detail.html') Project 02

                      li
                        .thumbnail
                          .thumbnail-img
                            .thumbnail-hover
                              a(href='Detail.html')
                            a(href='Detail.html')
                              img(src='images/projects/himalayas-2301040_1920.jpg', alt='Project 03')
                          .thumbnail-caption
                            a.caption-link(href='Detail.html') Project 03

                      li
                        .thumbnail
                          .thumbnail-img
                            .thumbnail-hover
                              a(href='Detail.html')
                            a(href='Detail.html')
                              img(src='images/projects/iceland-2700427_1920.jpg', alt='Project 04')
                          .thumbnail-caption
                            a.caption-link(href='Detail.html') Project 04

                      li
                        .thumbnail
                          .thumbnail-img
                            .thumbnail-hover
                              a(href='Detail.html')
                            a(href='Detail.html')
                              img(src='images/projects/banner-1090835_1920.jpg', alt='Project 05')
                          .thumbnail-caption
                            a.caption-link(href='Detail.html') Project 05

                      li
                        .thumbnail
                          .thumbnail-img
                            .thumbnail-hover
                              a(href='Detail.html')
                            a(href='Detail.html')
                              img(src='images/projects/lighthouse-2225445_1920.jpg', alt='Project 06')
                          .thumbnail-caption
                            a.caption-link(href='Detail.html') Project 06

          body
            .row
              .small-12.medium-12.large-12.columns
                p.back-to-top-holder
                  a.back-to-top
                    a(href='#')
                        i.fa.fa-chevron-circle-up.fa-3x
                      

                    script(src='js/vendor/jquery.min.js')
                    script(src='js/foundation.min.js')
                    script(src='js/hawthorne.js')

                  


                                          