doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/src/style.css')
<<<<<<< HEAD
<<<<<<< HEAD
    link(rel='stylesheet', href='/assets/Semantic/semantic.min.css')
=======
>>>>>>> master
=======
>>>>>>> master
    link(rel='stylesheet', href='/src/layout.css')
    link(rel='stylesheet', href='/src/CSS/photos/web/photos_web.css')
    link(rel='stylesheet', href='/src/CSS/photos/mobile/photos_mobile.css')
    link(rel='stylesheet', href='/src/font-awesome-4.7.0/css/font-awesome.min.css')

  body
    
    include /core/views/header
    
    block content

      


    include /core/views/footer